/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// --- Modelo para nomear as cores ---
// $NAME-WEIGHT: HEX;
// - NAME: Nome da cor (ex.: red, blue, green e etc.)
// - WEIGHT: Um peso para a escala da cor,
// começando de 100 e subindo de 100 em 100 conforme a cor vai ficando mais escura.
// dessa maneira é simples saber que, por exemplo, $blue-500 é mais claro que $primary e assim por diante.
// - HEX: hexadecimal da cor.
// Exemplo:

// Gray

// Green

// Red

// Blue

// Yellow

// Orange

// Select Colors
