/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// Theme
$background: #2f2546;

// Light Mode:
$text-main-light: #1b1b1b;
$text-secondary-light: #414141;

// Dark Mode:
$background-dark: #101010;
$text-main-dark: #ebebeb;
$text-secondary-dark: #929292;

// Night Mode:
$text-main-night: #ebebeb;
$text-secondary-night: #929292;

// Blues
$blue-tag: #4360b6;

// Yellows
$yellow-tag: #b8b83e;