/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// Theme
$background: #2f2546;
$text-main: #ebebeb;
$text-darken: #929292;

// Blue
$blue-tag: #4360b6;

// Yellow
$yellow-tag: #b8b83e;