/*
 * Colors
*/

// Base
$white: #fff;
$black: #333333;
$transparent: transparent;

$primary: #6f17b4;
$primary-beta: #2b0a46;
$orange-2: #ff9929;
$tag-purple: #7807da;
$orange-3: #ff8500;

// Gray
$gray: #f8f8f8;
$gray-100: #dbdbdb;
$gray-200: #c3c3c3;
$gray-300: #adadad;
$gray-400: #757575;

// Green
$green: #3c9100;

// Red
$red-500: #9d111a;

//Cidade
$orange: #fc672e;

// Share
$facebook: #3b5998;
$whatsapp: #2cb742;
$twitter: #55acee;

